<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>市中心天安门故宫10号线7号线地铁附近轻奢风多风格豪华两居三床5-6人室国贸商圈</title>
  <style>
    .a{
     width: 200%;
     float: left;
    }
  </style>
</head>
<body>
  <!-- 整体分为图、标题、详细三个模块 -->
  <!-- 图 -->
<div class="a">
  <div class="img">
    <img src="../src/img/bjrom1.jpg" alt="">
    <img src="../src/img/bjrom2.jpg" alt="">
    <img src="../src/img/bjrom3.jpg" alt="">
    <img src="../src/img/bjrom4.jpg" alt="">
  </div>
</div>
<!-- 标题 -->
<div></div>
<!-- 详情 -->
<div></div>
</body>
</html>