<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../src/css/myCssReset.css">
  <title>Document</title>
  <style>

  </style>
</head>
<body>
  <div class="lunbox">
    <ul>
      <li><img src="../src/img/lunbo1.jpg" alt=""></li>
      <li><img src="../src/img/lunbo2.jpg" alt=""></li>
      <li><img src="../src/img/lunbo3.jpg" alt=""></li>
      <li><img src="../src/img/lunbo4.jpg" alt=""></li>
      <li><img src="../src/img/lunbo5.jpg" alt=""></li>
    </ul>   
  </div> 
</body>
</html>